@model List<ItensComprados> 

  @{
    Layout = "_LayoutEmpresa";
  }

  @* <span>@Model.Count</span> *@

   <h2 class="text-danger">Pedidos</h2>
<br>
  
  <div class="card border-danger mb-3" style="max-width: 80%;">
    <div class="card-header bg-transparent border-danger">Produtos</div>
      @foreach(var itens in Model){
      <div class="card-body">
        <h5 class="card-title">@itens.Produto.Nome</h5>
        <p class="card-text">@itens.Produto.Descricao</p>
        <h6>Valor: @itens.Produto.Valor</h6>
     </div>
     <hr/>
     }
   <div class="card-footer bg-transparent border-danger">
       @if (@Model.LastOrDefault().Pedido.Status_Pedido == 0) {
           <h5 class="float-left text-black">Pedido Iniciado</h5>
           <a asp-action="update" asp-route-id="@Model.LastOrDefault().Id_Pedido" asp-route-status="1" class="float-right text-black">Aceitar Pedido</a> 
       } else if (@Model.LastOrDefault().Pedido.Status_Pedido == 1) {
           <h5 class="float-left text-black">Pedido Aceito</h5>
           <a asp-action="update" asp-route-id="@Model.LastOrDefault().Id_Pedido" asp-route-status="2" class="float-right text-black">Em Preparação</a> 
       }else if (@Model.LastOrDefault().Pedido.Status_Pedido == 2) {
           <h5 class="float-left text-black">Em Preparação</h5>
           <a asp-action="update" asp-route-id="@Model.LastOrDefault().Id_Pedido" asp-route-status="3" class="float-right text-black">Entregar o Pedido</a> 
       }else {
          <h5 class="float-left text-black">Pedido saiu para Entrega</h5> 
       }
   </div>
  </div>
   